/*div#a{
    background-color: blueviolet;
    width: 1px;
    height: 1px;
    position: fixed;
    top: 126px;
    left: 242px;
    z-index: 9999;
    /* Just a joke. An dead pixel.
}*/
div#welcome{
    margin: auto;
    /* border: 3px solid #73AD21;*/
    padding: 10px;
    background: purple;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}
input#input{
    margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.dot {   
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}