/*div#a{
    background-color: blueviolet;
    width: 1px;
    height: 1px;
    position: fixed;
    top: 126px;
    left: 242px;
    z-index: 9999;
    /* Just a joke. An dead pixel.
}*/
div#welcome{
    margin: auto;    
    padding: 10px;
    background: rgba(12, 11, 11, 0.432);
    border-radius: 10px;
    height: 60px;
    width: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}
div#input{
    margin: auto;
    border-radius: 50px;
    width: 20%;
    border: 3px solid rgba(12, 11, 11, 0.432);
    padding: 0px;
}

input#input2{
    margin: 0px;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
}

img#winner{
    border: 3px solid #73AD21;
}

/*.dot {    bolinhas para inserir algo  dentro
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}*/

